<a href="https://colab.research.google.com/github/namratakatti10/COMP8240/blob/main/New_Dataset_Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd

In [56]:
df = pd.read_csv('New-Tweet-dataset-Maisha.csv')

In [57]:
df_2 = df.copy()

In [58]:
for idx in range(len(df_2)):
  df_2['sentence'].iloc[idx] = re.sub('\W+', ' ', df_2['sentence'].iloc[idx])

df_2['sentence']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

0                        oh no so sorry about your pets
1      you should i love prison break i only have til...
2      i saw some really nice pair of shoess couldnt ...
3      hihihi i had fun but my foot is still hurting ...
4      sourish limbs is preventing me from gg out on ...
                             ...
545     a_n_g_e_l_i_n_e just overworked but thanks an...
546     caramel macchiato to pep me up i hate it when...
547         ashtonteal that s so sad shes from back home
548     i ve mayo blood so the flag is flying high in...
549                 10 of the oldest cities in the world
Name: sentence, Length: 550, dtype: object

In [59]:
pip install pandas-tfrecords

In [70]:
from pandas_tfrecords import pd2tf, tf2pd

pd2tf(df_3, './tfrecords_forder')
my_df = tf2pd('./tfrecords_forder')

In [6]:
df

     idx  label                                           sentence
0      1      0                  oh no! so sorry about your pets..
1      2      1  you should! i love prison break.i only have ti...
2      3      1  i saw some really nice pair of shoess.. couldn...
3      4      0  hihihi i had fun but my foot is still hurting!...
4      5      0  sourish limbs is preventing me from gg out on ...
..   ...    ...                                                ...
545  547      0  548,@a_n_g_e_l_i_n_e just overworked but thank...
546  548      0  549,caramel macchiato to pep me up. i hate it ...
547  549      1  550,@ashtonteal that's so sad...shes from back...
548  550      0  551,i've mayo blood so the flag is flying high...
549  551     10           552,10 of the oldest cities in the world

[550 rows x 3 columns]

In [39]:
a = df['sentence'].iloc[547]
a

'oh no! so sorry about your pets..'

In [44]:
a = df['sentence'].iloc[135]
a = re.sub('\W+', ' ', a)
a

'winenvinyl the groove continues tomorrow Ä îafter party at kensington roof free 10 12am for w '

In [46]:
df['sentence']

0                      oh no! so sorry about your pets..
1      you should! i love prison break.i only have ti...
2      i saw some really nice pair of shoess.. couldn...
3      hihihi i had fun but my foot is still hurting!...
4      sourish limbs is preventing me from gg out on ...
                             ...
545    548,@a_n_g_e_l_i_n_e just overworked but thank...
546    549,caramel macchiato to pep me up. i hate it ...
547    550,@ashtonteal that's so sad...shes from back...
548    551,i've mayo blood so the flag is flying high...
549             552,10 of the oldest cities in the world
Name: sentence, Length: 550, dtype: object

In [48]:
a = df_2['sentence'].iloc[545]
a = re.sub('\W+', ' ', a)
a

'548 a_n_g_e_l_i_n_e just overworked but thanks and i love when episodes repeat overseas bring on th'

In [45]:
df_2 = df.copy()

In [49]:
for idx in range(len(df_2)):
  df_2['sentence'].iloc[idx] = re.sub('\W+', ' ', df_2['sentence'].iloc[idx])

df_2['sentence']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

0                        oh no so sorry about your pets
1      you should i love prison break i only have til...
2      i saw some really nice pair of shoess couldnt ...
3      hihihi i had fun but my foot is still hurting ...
4      sourish limbs is preventing me from gg out on ...
                             ...
545    548 a_n_g_e_l_i_n_e just overworked but thanks...
546    549 caramel macchiato to pep me up i hate it w...
547     550 ashtonteal that s so sad shes from back home
548    551 i ve mayo blood so the flag is flying high...
549             552 10 of the oldest cities in the world
Name: sentence, Length: 550, dtype: object

In [67]:
df_3 = df_2.drop(df_2[df_2['label']==10].index)

In [69]:
df_3[df_3['label']==10]

Empty DataFrame
Columns: [idx, label, sentence]
Index: []